 
body
{
    line-height:0.96;
    font-family:Calibri;
    font-size:12px;
    border:1px solid black;
    margin: 4px auto auto 2px;
    width:677px;
    height:548px;
    background-color:#f1f1f1;
}
section {
    background-color:#ffffff;
    padding:5px;
    width:420px;
    height:513px;
    border:1.5px solid #c4c4c4;
    position:fixed;
    top:9px;
    left:114px;
}
nav {
    font-size:12px;
    float:left;
    width:150px;
    height:520px;
    border:none;
    overflow:hidden;
    margin:0px auto 0px -35px;
}
aside {
    width:128px;
    border:none;
    overflow:hidden;
    height:auto;
    position:fixed;
    top:-9.5px;
    right:686px;
}
ul {
    list-style:none;
}
ul>li>ul>li {
    font-weight:normal;
    color:black;
    margin-left:-39px;
}
.main {
    font-weight:bold;
    color:#8f0a08;
}
.mainNonBold {
    color:#8f0a08;
}
li > ul {
    margin-bottom:15px;
}
#home  
{
     font-weight:bold;
    margin-bottom:20px;
}
h1 {
    font-size:200%;
    font-weight:bold;
    text-align:left;
}
.buttons {
    border-bottom:1.5px solid #9f9f9f;
}
button{
    background-color:#ffffff;
    border:1.5px solid black;
    border-radius:0px;
}
h2 {
    color:white;
    background-color:#808080;
    line-height:0.9;
}
article > a {
    color:#8f0a08;
}
.buttonsBottom {
    margin-top:0px;
    border-top:1.5px solid #9f9f9f;
    border-bottom:1.5px solid #9f9f9f;
}
button:active{
    background-color:lightgrey;
}
input[type="search"] {
    width:90px;
}
aside div {
    text-align:center;
    border:1.5px solid #c4c4c4;
    padding-top:3px;
    padding-bottom:6px;
}
aside div:first-child {
    border-top:none;
    padding-top:0px;
    padding-bottom:0px;
}
#check {
    margin-top:0px;
}
img, p {
    display:inline-block;
}
img {
    margin-top:-12px;
}
#btn {
    width:93px;
    height:33px;
    border:2px solid #7eabcc;
    color:#3ecdfe;
    background-color:#d3effe;
    border-radius:3px;
}
#plus:active {
    background-color:#7eabcc;
}
.first {font-weight:bold;
}
#inlineDiv {
    position:absolute;
    top:135px;
    display:inline;
}
p {
    margin:0px auto 10px auto;
}
.prev {
    width:90px;
    background-image:url(prev.gif);
    background-position:left;
    background-repeat:no-repeat;

}
.next {
    width:90px;
    background-image:url(next.gif);
    background-position:right;
    background-repeat:no-repeat;
}
section  a:last-child {
    display:block;
    margin-bottom:10px;
}